* {
	box-sizing: border-box;
}

body {
	font-family: 'Six Caps', sans-serif;
	font-size: 32px;
	background-color: rgba(255, 214, 243, 0.85);
}

.title {
	font-family: 'Fascinate Inline', cursive;
	margin-left: 15vh;
}

.title:hover {
	color: white;
}


.subtitle {
	margin-top: -5vh;
	margin-left: 95vh;
	font-family: 'Six Caps', sans-serif;
}

.subtitle:hover {
	color: rgba(0, 0, 0, 0.5);
}


.lyrics {
	float: right;
	margin-top: -20vh; 
	margin-right: 30vh;
	text-align: center;
	letter-spacing: 4px;
	opacity: 0.3;
}

.lyrics:hover {
	opacity: 10;
	color: rgba(0, 0, 0, 0.8);
}

.pages {
	font-family: 'Fascinate Inline', cursive;
	padding-left: 1vh;
	color: rgba(0, 0, 0, 0.8);
}

ul {
	list-style-type: square;
}

.pages a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.pages a:hover {
	color: black;
}

.note {
	font-family: 'Six Caps', sans-serif;
	padding-left: 3vh;
	padding-top: 1vh;
	color: black;
	letter-spacing: 1.5px;
}

.note:hover {
	font-style: italic;
}

footer {
	font-family: 'Six Caps', sans-serif;
	padding-right: 3vh;
	text-decoration: none;
	font-size: 60px;
	float: right;
	margin-top: -10vh;

}

.footer a {
	color: black;
	text-decoration: none;
}

a:active {
	color: pink;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}