body {
	margin:0;
	font-family: 'Oswald', serif;
}

.header {
	position: sticky;
	width: 105%;
	height: 7vh;
	background-color: #CCCCC8;
	text-align: center;
	z-index: 999;
}

.header-sticky {
	position: sticky;
}

.name {
	font-family: 'Lobster', cursive;
	letter-spacing: 2.2px;
	color: white;
	padding-top: 5px;
	font-size: 28px;
	text-align: left;
	text-indent: 40px;
}


.header a {
	color: #444444;
	font-size: 18px;
	font-family: 'Oswald', cursive;
	text-transform: uppercase;
}

.header a:hover {
	color: #444444;
	text-decoration: underline;
	text-decoration-color: yellow;
	text-decoration-style: solid;

}

.header-1 {
	padding-left: 25%;
}

.header-2 {
	padding-left: 20%;
}


.header-web {
	font-family: 'Lobster', cursive;
	color: #5F5F5F;
	padding-top: 12px;
}

.header-text {
	font-family: 'Oswald', sans-serif;
	width: 70%;
	margin-top: 20px;
	color: #303030;
}

.header-text-two {
	margin-top: -5px;
}

.title {
	height: 93vh;
	background-image: url(images/self-portrait-lg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: yellow;
	font-family: 'Oswald', sans-serif;
	text-transform: lowercase;
}

.name {
	position: absolute;
	right: 10px;
}

/*Web Carousel*/
.row-web {
	margin-top: 5%;
}

.carousel-web {
	background-color: rgba(0, 0, 0, 0.2);
	height: 400px;
}

#web-carousel {
	height: 400px;
}


.project-text {
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	font-weight: 400;
}

.image-link {
	cursor: pointer;
}

.carousel-image {
	padding-top: 10px;
	height: 100%;
	opacity: 0.85;
	cursor: pointer;
}

#typography-screenshot {
	width: 100;
	height: auto;
	padding-left: auto;
	padding-right: auto;
	display: block;
}

.carousel-image:hover {
	opacity: 1;
	cursor: pointer;
}

.rocky {
	margin-left: 50px;
}

.rocky-text {
	text-indent: 50px;
}

.movie-text {
	margin-left: -15px;
}

.carousel-text {
	padding-top: 5px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

.carousel-control-prev, .carousel-control-next {
	/*background-color: grey;*/
}

footer {
	position: sticky;
	margin-top: 5%;
	min-height: 10vh;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: white;
}

.icons {
	text-align: center;
	padding-top: 5px;
}

.icon {
	padding: 5px;
	width: 45px;
}

.captions {
	text-align: center;
	margin-top: 0;
	padding-bottom: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 0.4px;
}

#graphics-carousel {
	background-color: rgba(0, 0, 0, 0.2);
}

.daphne-video {
	padding-top: 5vh;
}